/*Code is for the non-bootstrap pages in the website*/
body {
	font-family: Montserrat, sans-serif;
}

nav {
	background-color: #222222;
	padding-top: .1px;
	padding-bottom: .1px;
}

nav ul{
	list-style: none;	
	margin-top: 1em;
	margin-bottom: 1em;	
}

nav ul li {
	display: inline;	
	margin-left: .5em;
	margin-right: .5em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: .9em;
	padding-right: .9em;
}

nav a {	
	color: rgba(255,255,255,.8);
	text-decoration: none;
}

.active {
	background-color: black;
}

#finalCalc {
	margin-top: 3em;
	color: white;
}

form {
	width: 40%;
	margin-left: 40%;
	margin-right: 40%;
}

form input[type="button"]{
	border-radius: .3em;
	border: 1px solid #2e6da4;
	padding: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	color: white;
	background-color: #337ab7;
	font-size: .7em;
}

form input[type="button"]:hover{
	opacity: .8;
}