<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="disk_inventoryConnectionString" connectionString="Data Source=F18SERVERB10\SQLDEV01;Initial Catalog=disk_inventory;Persist Security Info=True;User ID=Diskuser;Password=Pa$$word"
      providerName="System.Data.SqlClient" />
    <add name="disk_inventoryConnectionString2" connectionString="Data Source=F18SERVERB10\SQLDEV01;Initial Catalog=disk_inventory;User ID=Diskuser;Password=Pa$$word"
      providerName="System.Data.SqlClient" />
    <add name="Checkout" connectionString="Data Source=F18SERVERB10\SQLDEV01;Initial Catalog=disk_inventory;User ID=sa;Password=Pa$$word"
      providerName="System.Data.SqlClient" />
    <add name="ActionPageListing" connectionString="Data Source=F18SERVERB10\SQLDEV01;Initial Catalog=disk_inventory;Persist Security Info=True;User ID=sa;Password=Pa$$word"
      providerName="System.Data.SqlClient" />
    <add name="CDIDDropdown" connectionString="Data Source=F18SERVERB10\SQLDEV01;Initial Catalog=disk_inventory;Persist Security Info=True;User ID=sa;Password=Pa$$word"
      providerName="System.Data.SqlClient" />
    <add name="BorrowerIDDropdown" connectionString="Data Source=F18SERVERB10\SQLDEV01;Initial Catalog=disk_inventory;Persist Security Info=True;User ID=sa;Password=Pa$$word"
      providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <customErrors mode="On" defaultRedirect="DefaultError.aspx">
      <error statusCode="404" redirect="404Error.aspx"/>
      <error statusCode="500" redirect="500Error.aspx"/>
    </customErrors>
    </system.web>

</configuration>
